# Blue LMS Environment
# Example configuration only - no secrets

ENVIRONMENT=BLUE

INSTANCE_ID=i-078db9b19e63f60dd
PRIVATE_IP=172.31.47.197

LMS_HOST=local.openedx.io
CMS_HOST=studio.local.openedx.io

ENABLE_HTTPS=false

TARGET_GROUP_NAME=lms-blue-tg

ROLE=STABLE_PRODUCTION
