# Green LMS Environment
# Example configuration only - no secrets

ENVIRONMENT=GREEN

INSTANCE_ID=i-02ab1f10dd6988091
PRIVATE_IP=172.31.43.211

LMS_HOST=local.openedx.io
CMS_HOST=studio.local.openedx.com

ENABLE_HTTPS=false

TARGET_GROUP_NAME=lms-green-tg

ROLE=NEW_RELEASE
